---
import { getCollection } from "astro:content";
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await getCollection("posts");
const pageTitle = "My Astro Learning Blog"
---

<BaseLayout pageTitle={pageTitle}>
	
        <h2>Check out these Blogs!</h2>
        <ul>
            {allPosts.map((post) => <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
)}
        </ul>
  </BaseLayout>

