---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "My Friends and I"
---

<BaseLayout pageTitle={pageTitle}>
    <h1>Me</h1>
    <a href="https://www.facebook.com/brek.howrigon">
    <img class="image" src="https://i.ytimg.com/vi/G-N2cqTw_WM/maxresdefault.jpg">
    </a>
    <h1>Drew</h1>
    <a href="https://www.facebook.com/drew.thompson.35325">
    <img class="image" src="https://imageio.forbes.com/specials-images/imageserve/607349ed013c64282a2dd3e9/100-Thieves-x-Totino-s-Presents-Lil-Dicky/0x0.jpg?format=jpg&crop=2463,1598,x251,y47,safe&width=960">
    </a>
    <h1>Sean</h1>
    <a href="https://www.facebook.com/profile.php?id=100010582656788">
    <img class="image" src="https://m.media-amazon.com/images/M/MV5BM2UzYzdjY2ItODA4Ni00MjY2LWJkYjctOWExN2UxZmNjNTQyXkEyXkFqcGc@._V1_.jpg">
    </a>
  </BaseLayout>
  <style>
    .image {
      border-radius: 20em;
      width: 20em;
    }
  </style>

