---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Here is my Xenoblade X Wiki Page!</h2>
  <body>
    <p>Farm reward tickets for an Arts Gain Tp XX, yes it will take a while but it is worth it.</p>
    <img class="picture" src="https://90sreviewer.com/wp-content/uploads/2019/03/Xenoblade-Chronicles-X-Title.jpg">
  </body>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
<style>
  .picture {
    border-radius: 20em;
    width: 20em;
  }
</style>